{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

  @page {
  size: A4 portrait;
  margin: 5mm; 
}

@media print {
  body {
    font-family: Arial, sans-serif;
    font-size: 8px !important;
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact;
  }
}
.custom-table {
  width: auto;
   /* table-layout: fixed; */
  border-collapse: collapse;
  width: 100%;   
  font-family: Arial, sans-serif;

}

.custom-table td {
  border: 1px solid #333;
  text-align: center;
   white-space: nowrap;  
     padding: 8px 12px; 
}



.logo-cell {
  background-color: #f9f9f9;
  width: 85px;    
  padding: 2px;  
  text-align: center;
  vertical-align: middle;
}

.logo-cell img {
  max-width: 100%;
  width: 110px;   
  height: auto;
}


.company-name {
  font-size: 10px;
  font-weight: bold;
  background-color: #e6f0ff;
  text-transform: uppercase;
  text-align: center;
}


.head td {
  font-size: 10px;
  font-weight: bold;
  background-color: #f0f8ff;
  text-align: center;
}

.head span{
  font-size: 9px;
}


.subhead td {
  font-size: 10px;
  background-color: #dbeaf7;
  text-align: center;
  font-weight: bold;
}

.subhead-test{
   font-size: 10px;
  background-color: #dbeaf7;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;


}


.t1-details td {
  font-size: 8px;
  background-color: #ffffff;
  text-align: left;
}


.t1-details .label {
  font-weight: bold;
  background-color: #dbeaf7;
  text-align: left;
}

.t1-details .value {
  text-align: left;
  font-style: italic;
}

.t2-details .value {
  text-align: center;
  font-style: italic;
}

.t2-details td {
  font-size: 7px;
  background-color: #ffffff;
  text-align: center;
  
}


.t2-details .label {
  font-weight: bold;
  background-color: #dbeaf7;
  text-align: center;
}


.conclusion td {
  text-align: left;
  /* padding: 8px 10px; */
  background-color: #fdfdfd;
  text-align: center;
  font-size: 7px;
  
}
.conclusion .option {
  display: inline-block;
  margin-right: 30px; /* spacing between Passed and Fail groups */
}

.conclusion-label {
  font-weight: bold;
  margin-right: 10px;
 
}

.conclusion label {
  margin-right: 10px;
  cursor: pointer;

}

.conclusion input[type="checkbox"] {
  width: 25px;   
  height: 25px; 
  cursor: pointer;
  accent-color: #007bff; 
  vertical-align: middle;
}

td.ac {
  font-size: 8px;
  font-weight: normal;
  text-align: left !important;  
  vertical-align: middle;
  border: none;
}

td.re {
  font-size: 8px;         
  text-align: left;        
  vertical-align: top;     
  border: none !important;  
  padding: 4px 6px;         
}

tr.fullrow td{
  font-size: 8px;
  text-align: left;
  font-weight: bold;

}

td.remarks {
  vertical-align: top;
  text-align: left;      
  padding: 4px;
  font-weight: bold;  
}

tr.inspection td{
  font-size: 6px;
  background-color: #dbeaf7;
font-weight: bold;

}

tr.inspection td.whitecell,
tr.inspection td.ac,
tr.inspection td.remarks{
  background-color: white; 
  font-weight: bold;
  font-size: 6px;
}

.inspection td.label{
 text-align: left;
font-size: 6px;

}

.verify-sec td{
  font-size:8px;
  text-align: left;
}

.verify-sec td.label{
  background-color: #dbeaf7;
  font-weight: bold;

}
.condition td{
    text-align: left;
    font-size: 10px;
    border: none;
}

.h td{
    text-align: left;
    font-size: 10;
    text-decoration: underline;
    align-items: left;
    border: none;
}

.footer {
  font-size: 9px;
  font-weight:normal;
}


tr.footer td:nth-child(1) { 
  color: #1a4e8a;
}


tr.footer td:nth-child(2) { 
  color: #0a7c5a; 
}


tr.footer td:nth-child(3) { 
  color: #8a2be2;
}


tr.footer td:nth-child(4) { 
  color: #b37400; 
}

tr.footer td:nth-child(5) { 
  color: #b33a3a; 

}
tr.footer td:nth-child(6) { 
  color: #000000;  
}




</style>

<body>

   <table class="custom-table" border="2" cellpadding="6" cellspacing="0">
  <tbody>
    <tr>
      <td class="logo-cell" rowspan="4">
        <img src="{% static 'images/image.png' %}" alt="Spanning Image" width="100">
      </td>
      <td colspan="710" class="company-name">   ABIPET TECHNOLOGIES PRIVATE LIMITED</td>
    </tr>
    <tr class="head">
      <td colspan="710"> INTEGRATED MANAGEMENT SYSTEM <br>
<span>(ISO 9001: 2015,5th Edition, API Spec Q1 10th Edition,  ISO 14001: 2015,3rd Edition ISO 45001: 2018,1st Edition API Spec 6A 21st Edition)</span></td>
    </tr>
    <tr class="subhead">
      <td colspan="710"> LEVEL 04 - QHSE - IMS - FACTORY ACCEPTANCE TESTING - PSL3 MANUAL GATE VALVE </td>
    </tr>
   <tr class="t1-details">
    <td colspan="65" class="label">Process</td>
    <td colspan="65">09/OPS</td>
    <td colspan="90" class="label">Level</td>
    <td colspan="140">LO4/OPS</td>
    <td colspan="100" class="label">Procedure Ref.No.</td>
    <td colspan="250">AP-P09-OPS-L02-10</td>
</tr>

<tr class="t1-details">
    <td colspan="1" class="label">Document Number</td>
    <td colspan="130">AP-P09--OPS-AT-L04-06</td>
    <td colspan="90" class="label">Issue No./Date</td>
    <td colspan="140">01 / 01-07-2024</td>
    <td colspan="100" class="label">Rev No./date</td>
    <td colspan="250">00 / 01-07-2024</td>
</tr>

<tr class="t1-details">
    <td colspan="1" class="label">Part Description</td>
    <td colspan="130">{{ part_description }}</td>
    <td colspan="90" class="label">Pressure Rating</td>
    <td colspan="140">{{ psl_level }}</td>
    <td colspan="100" class="label">Test Specification/<br>Revision</td>
    <td colspan="80">{{ test_specification }}</td>
    <td colspan="85" class="label">Work Instruction <br> Ref.</td>
    <td colspan="85">{{ work_instruction_ref }}</td>
</tr>

<tr class="t1-details">
    <td colspan="1" class="label">Part No./Revision:</td>
    <td colspan="130">{{ part_no_revision }}</td>
    <td colspan="90" class="label">PSL Level</td>
    <td colspan="140">{{ psl_level }}</td>
    <td colspan="100" class="label">Station no</td>
    <td colspan="80">{{ station_no }}</td>
    <td colspan="85" class="label">Quality Plan <br> Ref.</td>
    <td colspan="85">{{ quality_plan_ref }}</td>
</tr>

<tr class="t1-details">
    <td colspan="1" class="label">Drawing No./Revision:</td>
    <td colspan="130">{{ drawing_no_revision }}</td>
    <td colspan="90" class="label">Material Class</td>
    <td colspan="140">{{ material_class }}</td>
    <td colspan="100" class="label">Qty</td>
    <td colspan="80">{{ qty }}</td>
    <td colspan="85" class="label">Assembly Order <br> No</td>
    <td colspan="85">{{ assembly_order_no }}</td>
</tr>

  <tr class="t1-details">
    <td colspan="1" class="label">Model</td>
    <td colspan="130">{{ model }}</td>
    <td colspan="90" class="label">Temperature <br> Class</td>
    <td colspan="140">{{ temperature_class }}</td>
    <td colspan="100" class="label">Operator Name</td>
    <td colspan="80">{{ operator_name }}</td>
    <td colspan="85" class="label">Work Order No</td>
    <td colspan="85">{{ work_order_no }}</td>

</tr>
     <tr class="t1-details">
        <td colspan="1" class="label">Size</td>
        <td colspan="130">{{ size }}</td>
        <td colspan="90" class="label">Test No:</td>
        <td colspan="140">{{ test_no }}</td>
        <td colspan="100" class="label">Assembly Serial No.</td>
        <td colspan="80">{{ assembly_serial_no }}</td>
        <td colspan="85" class="label">Date</td>
        <td colspan="85">{{ current_date }}</td>

    </tr>
      <tr class="subhead-test">
        <td colspan="711">Test Medium: 70% Mono Ethylene Glycol + 28% DM Water + 2% Cortec Vpci 649 Bd</td>

    </tr>
    </tr>
      <tr class="subhead">
        <td colspan="711">HYDRO STATIC SHELL TEST</td>
    </tr>
    <tr class="t2-details">
        <td colspan="1" class="label">S.No</td>
        <td colspan="65" class="label">STEP</td>
        <td colspan="65" class="label">START TIME <br> HRS</td>
        <td colspan="90" class="label">START PRESSURE <br> PSI</td>
        <td colspan="60" class="label">END TIME <br> HRS</td>
        <td colspan="80 " class="label">END PRESSURE <br> PSI</td>
        <td colspan="100" class="label">PRESSURE CHANGE <br> PSI</td>
        <td colspan="80" class="label">HOLD PERIOD <br> MINS</td>
        <td colspan="90" class="label">NO VISIBLE <br> LEAK</td>
        <td colspan="80" class="label">PRESSURE DROP <br> TO 0 PSI</td>
    </tr>
     <tr class="t2-details">
        <td colspan="1" class="label">1</td>
        <td colspan="65" class="label">PRIMARY</td>
        <td colspan="65">{{ shell_primary.start_time|default:"" }}</td>
        <td colspan="90">{{ shell_primary.start_pressure|default:"" }}</td>
        <td colspan="60">{{ shell_primary.stop_time|default:"" }}</td>
        <td colspan="80">{{ shell_primary.stop_pressure|default:"" }}</td>
        <td colspan="100">{ shell_primary.result_difference|default:"" }}</td>
        <td colspan="80" class="label">{{ hydroshell_P_dur|default:"" }}</td>
        <td colspan="90">{{ shell_primary.result|default:"" }}</td>
        <td colspan="80">{{ shell_primary.pressure_drop|default:"" }}</td>
    </tr>
    <tr class="t2-details">
        <td colspan="1" class="label">2</td>
        <td colspan="65" class="label">SECONDARY</td>
        <td colspan="65">{{ shell_secondary.start_time|default:"" }}</td>
        <td colspan="90">{{ shell_secondary.start_pressure|default:"" }}</td>
        <td colspan="60">{{ shell_secondary.stop_time|default:"" }}</td>
        <td colspan="80">{{ shell_secondary.stop_pressure|default:"" }}</td>
        <td colspan="100">{{ shell_secondary.result_difference|default:"" }}</td>
        <td colspan="80" class="label">{{ hydroshell_S_dur|default:"" }}</td>
        <td colspan="90">{{ shell_secondary.result|default:"" }}</td>
        <td colspan="80">{{ shell_secondary.pressure_drop|default:"" }}</td>
    </tr>
    </tr>
      <tr class="subhead">
        <td colspan="711">RE-TORQUEING OF BONNET CONNECTIONS STUDS</td>
    </tr>
    <tr class="t2-details">
      <td colspan="1" class="label">Torque Value:</td>
        <td colspan="60">{{ torque_value|default:"" }}</td>
        <td colspan="50" class="label">Torque  <br> Wrench ID:</td>
        <td colspan="56">{{ wrench_id|default:"" }}</td>
        <td colspan="26" class="label">Due Date</td>
        <td colspan="78">{{ due_date|default:"" }}</td>
        </tr>

         <tr class="subhead">
        <td colspan="711">HYDRO STATIC SEAT TEST-SIDE A</td>
    </tr>

     <tr class="t2-details">
        <td colspan="1" class="label">S.No</td>
        <td colspan="65" class="label">STEP</td>
        <td colspan="65" class="label">START TIME <br> HRS</td>
        <td colspan="90" class="label">START PRESSURE <br> PSI</td>
        <td colspan="60" class="label">END TIME <br> HRS</td>
        <td colspan="80 " class="label">END PRESSURE <br> PSI</td>
        <td colspan="100" class="label">PRESSURE CHANGE <br> PSI</td>
        <td colspan="80" class="label">HOLD PERIOD <br> MINS</td>
        <td colspan="90" class="label">NO VISIBLE <br> LEAK</td>
        <td colspan="80" class="label">PRESSURE DROP <br> TO 0 PSI</td>
    </tr>
    <tr class="t2-details">
        <td colspan="1" class="label">1</td>
        <td colspan="65" class="label">PRIMARY</td>
        <td colspan="65">{{ seat_a_primary.start_time|default:"" }}</td>
        <td colspan="90">{{ seat_a_primary.start_pressure|default:"" }}</td>
        <td colspan="60">{{ seat_a_primary.stop_time|default:"" }}</td>
        <td colspan="80">{{ seat_a_primary.stop_pressure|default:"" }}</td>
        <td colspan="100">{{ seat_a_primary.result_difference|default:"" }}</td>
        <td colspan="80" class="label">{{ hydroseat_A_P_dur|default:"" }}</td>
        <td colspan="90">{{ seat_a_primary.result|default:"" }}</td>
        <td colspan="80">{{ seat_a_primary.pressure_drop|default:"" }}</td>
    </tr>
    <tr class="t2-details">
        <td colspan="1" class="label"  >2</td>
        <td colspan="65" class="label"  >SECONDARY</td>
        <td colspan="65" >{{ seat_a_secondary.start_time|default:"" }}</td>
        <td colspan="90" >{{ seat_a_secondary.start_pressure|default:"" }}</td>
        <td colspan="60" >{{ seat_a_secondary.stop_time|default:"" }}</td>
        <td colspan="80" >{{ seat_a_secondary.stop_pressure|default:"" }}</td>
        <td colspan="100" >{{ seat_a_secondary.result_difference|default:"" }}</td>
        <td colspan="80" class="label"  >{{ hydroseat_A_S_dur|default:"" }}</td>
        <td colspan="90" >{{ seat_a_secondary.result|default:"" }}</td>
        <td colspan="80" >{{ seat_a_secondary.pressure_drop|default:"" }}</td>
    </tr>
    <tr class="t2-details">
        <td colspan="1"  class="label" >3</td>
        <td colspan="65" class="label" >TERTIARY</td>
        <td colspan="65" >{{ seat_a_tertiary.start_time|default:"" }}</td>
        <td colspan="90" >{{ seat_a_tertiary.start_pressure|default:"" }}</td>
        <td colspan="60" >{{ seat_a_tertiary.stop_time|default:"" }}</td>
        <td colspan="80" >{{ seat_a_tertiary.stop_pressure|default:"" }}</td>
        <td colspan="100" >{{ seat_a_tertiary.result_difference|default:"" }}</td>
        <td colspan="80" class="label"  >{{ hydroseat_A_T_dur|default:"" }}</td>
        <td colspan="90" >{{ seat_a_tertiary.result|default:"" }}</td>
        <td colspan="80" >{{ seat_a_tertiary.pressure_drop|default:"" }}</td>
    </tr>


     <tr class="subhead">
        <td colspan="711">HYDRO STATIC SEAT TEST-SIDE-B</td>
    </tr>

      <tr class="t2-details">
        <td colspan="1" class="label">S.No</td>
        <td colspan="65" class="label">STEP</td>
        <td colspan="65" class="label">START TIME <br> HRS</td>
        <td colspan="90" class="label">START PRESSURE <br> PSI</td>
        <td colspan="60" class="label">END TIME <br> HRS</td>
        <td colspan="80 " class="label">END PRESSURE <br> PSI</td>
        <td colspan="100" class="label">PRESSURE CHANGE <br> PSI</td>
        <td colspan="80" class="label">HOLD PERIOD <br> MINS</td>
        <td colspan="90" class="label">NO VISIBLE <br> LEAK</td>
        <td colspan="80" class="label">PRESSURE DROP <br> TO 0 PSI</td>
    </tr>

   <tr class="t2-details">
        <td colspan="1" class="label">1</td>
        <td colspan="65" class="label">PRIMARY</td>
        <td colspan="65">{{ seat_b_primary.start_time|default:"" }}</td>
        <td colspan="90">{{ seat_b_primary.start_pressure|default:"" }}</td>
        <td colspan="60">{{ seat_b_primary.stop_time|default:"" }}</td>
        <td colspan="80">{{ seat_b_primary.stop_pressure|default:"" }}</td>
        <td colspan="100">{{ seat_b_primary.result_difference|default:"" }}</td>
        <td colspan="80" class="label">{{ hydroseat_B_P_dur|default:"" }}</td>
        <td colspan="90">{{ seat_b_primary.result|default:"" }}</td>
        <td colspan="80">{{ seat_b_primary.pressure_drop|default:"" }}</td>
    </tr>
     <tr class="t2-details">
        <td colspan="1" class="label"  >2</td>
        <td colspan="65" class="label"  >SECONDARY</td>
        <td colspan="65" >{{ seat_b_secondary.start_time|default:"" }}</td>
        <td colspan="90" >{{ seat_b_secondary.start_pressure|default:"" }}</td>
        <td colspan="60" >{{ seat_b_secondary.stop_time|default:"" }}</td>
        <td colspan="80" >{{ seat_b_secondary.stop_pressure|default:"" }}</td>
        <td colspan="100" >{{ seat_b_secondary.result_difference|default:"" }}</td>
        <td colspan="80" class="label"  >{{ hydroseat_B_S_dur|default:"" }}</td>
        <td colspan="90" >{{ seat_b_secondary.result|default:"" }}</td>
        <td colspan="80" >{{ seat_b_secondary.pressure_drop|default:"" }}</td>
    </tr>
    <tr class="t2-details">
        <td colspan="1"  class="label" >3</td>
        <td colspan="65" class="label" >TERTIARY</td>
        <td colspan="65" >{{ seat_b_tertiary.start_time|default:"" }}</td>
        <td colspan="90" >{{ seat_b_tertiary.start_pressure|default:"" }}</td>
        <td colspan="60" >{{ seat_b_tertiary.stop_time|default:"" }}</td>
        <td colspan="80" >{{ seat_b_tertiary.stop_pressure|default:"" }}</td>
        <td colspan="100" >{{ seat_b_tertiary.result_difference|default:"" }}</td>
        <td colspan="80" class="label"  >{{ hydroseat_B_T_dur|default:"" }}</td>
        <td colspan="90" >{{ seat_b_tertiary.result|default:"" }}</td>
        <td colspan="80" >{{ seat_b_tertiary.pressure_drop|default:"" }}</td>
    </tr>



     <tr class="h">
        <td colspan="711">ACCEPTANCE CRITERIA  FOR HYDROSTATIC TEST</td>
    </tr>
<tr class="condition">
    <td colspan="711">1.The equipment shall show no visible leakage while subjected to test pressure.</td>
</tr>
<tr class="condition">
    <td colspan="711">2.At the start of the hold period, monitored pressure shall not be greater thatn 5% above the specified test pressure. <br>
       During the hokd period the pressure shall not vary from the pressure at the start of the hold period by more than 5% or 3.45 MPa(500psi),whichever is less </td>
</tr>
<tr class="condition">
    <td colspan="711">3.Monitored pressure shall not be less than the specified test pressure.</td>
</tr>


     <tr class="subhead">
        <td colspan="711">GAS TEST (TEST MEDIUM - Nitrogen Gas)</td>
    </tr>

    <tr class="subhead">
        <td colspan="711">GAS BODY TEST</td>
    </tr>

   
     <tr class="t2-details">
        <td colspan="1" class="label">S.No</td>
        <td colspan="65" class="label">STEP</td>
        <td colspan="65" class="label">START TIME <br> HRS</td>
        <td colspan="90" class="label">START PRESSURE <br> PSI</td>
        <td colspan="60" class="label">END TIME <br> HRS</td>
        <td colspan="80 " class="label">END PRESSURE <br> PSI</td>
        <td colspan="100" class="label">PRESSURE CHANGE <br> PSI</td>
        <td colspan="80" class="label">HOLD PERIOD <br> MINS</td>
        <td colspan="90" class="label">NO VISIBLE <br> LEAK</td>
        <td colspan="80" class="label">PRESSURE DROP <br> TO 0 PSI</td>
    </tr>

     <tr class="t2-details">
        <td colspan="1" class="label">1</td>
        <td colspan="65" class="label">PRIMARY</td>
        <td colspan="65">{{ gas_body.start_time|default:"" }}</td>
        <td colspan="90">{{ gas_body.start_pressure|default:"" }}</td>
        <td colspan="60">{{ gas_body.stop_time|default:"" }}</td>
        <td colspan="80">{{ gas_body.stop_pressure|default:"" }}</td>
        <td colspan="100">{{ gas_body.result_difference|default:"" }}</td>
        <td colspan="80" class="label">{{ gas_body_test_dur|default:"" }}</td>
        <td colspan="90">{{ gas_body.result|default:"" }}</td>
        <td colspan="80">{{ gas_body.pressure_drop|default:"" }}</td>
    </tr>

     <tr class="subhead">
        <td colspan="711">GAS SEAT TEST-SIDE A </td>
    </tr>

  
      <tr class="t2-details">
        <td colspan="1" class="label">S.No</td>
        <td colspan="65" class="label">STEP</td>
        <td colspan="65" class="label">START TIME <br> HRS</td>
        <td colspan="90" class="label">START PRESSURE <br> PSI</td>
        <td colspan="60" class="label">END TIME <br> HRS</td>
        <td colspan="80 " class="label">END PRESSURE <br> PSI</td>
        <td colspan="100" class="label">PRESSURE CHANGE <br> PSI</td>
        <td colspan="80" class="label">HOLD PERIOD <br> MINS</td>
        <td colspan="90" class="label">NO VISIBLE <br> LEAK</td>
        <td colspan="80" class="label">PRESSURE DROP <br> TO 0 PSI</td>
    </tr>
 <tr class="t2-details">
        <td colspan="1" class="label">1</td>
        <td colspan="65" class="label">PRIMARY</td>
        <td colspan="65">{{ gas_seat_a.start_time|default:"" }}</td>
        <td colspan="90">{{ gas_seat_a.start_pressure|default:"" }}</td>
        <td colspan="60">{{ gas_seat_a.stop_time|default:"" }}</td>
        <td colspan="80">{{ gas_seat_a.stop_pressure|default:"" }}</td>
        <td colspan="100">{{ gas_seat_a.result_difference|default:"" }}</td>
        <td colspan="80" class="label">{{ gas_seat_A_dur|default:"" }}</td>
        <td colspan="90">{{ gas_seat_a.result|default:"" }}</td>
        <td colspan="80">{{ gas_seat_a.pressure_drop|default:"" }}</td>
    </tr>


    <tr class="t2-details">
        <td colspan="1" class="label"  >2</td>
        <td colspan="65" class="label">SECONDARY <br> (Test Pressure-2.0 <br> MPs(300psi) ± 10%)</td>
        <td colspan="65" >{{ gas_seat_a.start_time|default:"" }}</td>
        <td colspan="90" >{{ gas_seat_a.start_pressure|default:"" }}</td>
        <td colspan="60" >{{ gas_seat_a.stop_time|default:"" }}</td>
        <td colspan="80" >{{ gas_seat_a.stop_pressure|default:"" }}</td>
        <td colspan="100" >{{ gas_seat_a.result_difference|default:"" }}</td>
        <td colspan="80" class="label"  >{{ gas_seat_A_dur|default:"" }}</td>
        <td colspan="90" >{{ gas_seat_a.result|default:"" }}</td>
        <td colspan="80" >{{ gas_seat_a.pressure_drop|default:"" }}</td>
    </tr>
   
     <tr class="subhead">
        <td colspan="711">GAS SEAT TEST-SIDE B </td>
    </tr>

   
     <tr class="t2-details">
        <td colspan="1" class="label">S.No</td>
        <td colspan="65" class="label">STEP</td>
        <td colspan="65" class="label">START TIME <br> HRS</td>
        <td colspan="90" class="label">START PRESSURE <br> PSI</td>
        <td colspan="60" class="label">END TIME <br> HRS</td>
        <td colspan="80 " class="label">END PRESSURE <br> PSI</td>
        <td colspan="100" class="label">PRESSURE CHANGE <br> PSI</td>
        <td colspan="80" class="label">HOLD PERIOD <br> MINS</td>
        <td colspan="90" class="label">NO VISIBLE <br> LEAK</td>
        <td colspan="80" class="label">PRESSURE DROP <br> TO 0 PSI</td>
    </tr>
 <tr class="t2-details">
        <td colspan="1" class="label">1</td>
        <td colspan="65" class="label">PRIMARY</td>
        <td colspan="65">{{ gas_seat_b.start_time|default:"" }}</td>
        <td colspan="90">{{ gas_seat_b.start_pressure|default:"" }}</td>
        <td colspan="60">{{ gas_seat_b.stop_time|default:"" }}</td>
        <td colspan="80">{{ gas_seat_b.stop_pressure|default:"" }}</td>
        <td colspan="100">{{ gas_seat_b.result_difference|default:"" }}</td>
        <td colspan="80" class="label">{{ gas_seat_B_dur|default:"" }}</td>
        <td colspan="90">{{ gas_seat_b.result|default:"" }}</td>
        <td colspan="80">{{ gas_seat_b.pressure_drop|default:"" }}</td>
    </tr>
<tr class="t2-details">
        <td colspan="1" class="label"  >2</td>
        <td colspan="65" class="label">SECONDARY <br> (Test Pressure-2.0 <br> MPs(300psi) ± 10%)</td>
        <td colspan="65" >{{ gas_seat_b.start_time|default:"" }}</td>
        <td colspan="90" >{{ gas_seat_b.start_pressure|default:"" }}</td>
        <td colspan="60" >{{ gas_seat_b.stop_time|default:"" }}</td>
        <td colspan="80" >{{ gas_seat_b.stop_pressure|default:"" }}</td>
        <td colspan="100" >{{ gas_seat_b.result_difference|default:"" }}</td>
        <td colspan="80" class="label"  >{{ gas_seat_B_dur|default:"" }}</td>
        <td colspan="90" >{{ gas_seat_b.result|default:"" }}</td>
        <td colspan="80" >{{ gas_seat_b.pressure_drop|default:"" }}</td>
    </tr>
   

    <tr class="subhead">
        <td colspan="711">GAS BACK SEAT TEST </td>
    </tr>

  
    <tr class="t2-details">
        <td colspan="1" class="label">S.No</td>
        <td colspan="65" class="label">STEP</td>
        <td colspan="65" class="label">START TIME <br> HRS</td>
        <td colspan="90" class="label">START PRESSURE <br> PSI</td>
        <td colspan="60" class="label">END TIME <br> HRS</td>
        <td colspan="80 " class="label">END PRESSURE <br> PSI</td>
        <td colspan="100" class="label">PRESSURE CHANGE <br> PSI</td>
        <td colspan="80" class="label">HOLD PERIOD <br> MINS</td>
        <td colspan="90" class="label">NO VISIBLE <br> LEAK</td>
        <td colspan="80" class="label">PRESSURE DROP <br> TO 0 PSI</td>
    </tr>
   <tr class="t2-details">
        <td colspan="1" class="label">1</td>
        <td colspan="65" class="label">PRIMARY</td>
        <td colspan="65">{{ gas_back_seat.start_time|default:"" }}</td>
        <td colspan="90">{{ gas_back_seat.start_pressure|default:"" }}</td>
        <td colspan="60">{{ gas_back_seat.stop_time|default:"" }}</td>
        <td colspan="80">{{ gas_back_seat.stop_pressure|default:"" }}</td>
        <td colspan="100">{{ gas_back_seat.result_difference|default:"" }}</td>
        <td colspan="80" class="label">{{ gas_back_seat_dur|default:"" }}</td>
        <td colspan="90">{{ gas_back_seat.result|default:"" }}</td>
        <td colspan="80">{{ gas_back_seat.pressure_drop|default:"" }}</td>
    </tr>

    <tr class="h">
        <td colspan="711">ACCEPTANCE CRITERIA  FOR GAS TEST</td>
    </tr>

    <tr class="condition">
    <td colspan="711">1.No visible leakage(hubbles) shall appear in the water bath during the pressure-holding period</td>
    </tr>
    <tr class="condition">
    <td colspan="711">2.The maximum acceptable reduction of the gas test pressure shall be 2.0 MPa(300psi)if there is no visible leakage in the water bath during the hold period.</td>
    </tr>
    <tr class="condition">
    <td colspan="711">3.For secondary gas seat test shall be no visisble leakage in the water bath during the holding periods <br> with a maximum allowable reduction of gas test pressure of 0.2 MPa(30psi)</td>
    </tr>


    <tr class="subhead">
        <td colspan="711">DRIFT TEST</td>
    </tr>
     <tr class="t2-details">
        <td colspan="1" class="label">S.NO</td>
        <td colspan="130" class="label">Tested Date</td>
        <td colspan="90" class="label">Test Fluid Drain</td>
        <td colspan="60" class="label">Drift Test A to B</td>
        <td colspan="180" class="label">Greasing</td>
        <td colspan="80" class="label">Drift Shaft ID</td>
        <td colspan="90" class="label">Calibrated  On</td>
        <td colspan="80" class="label">Due On</td>
    </tr>
    <tr class="t2-details">
    <td colspan="1" >RYRYRY</td>
    <td colspan="130">RYTU</td>
    <td colspan="90" >DRHYHY</td>
    <td colspan="60" >FCHHF</td>
    <td colspan="180" >FNJJ</td>
    <td colspan="80" >FJFJ</td>
    <td colspan="90" >FJFJ</td>
    <td colspan="80" >TUU</td>
    </tr>
    
    <tr class="conclusion">
  <td colspan="711">
    <label class="conclusion-label">Test Conclusion:</label>

    <span class="option">
      <label>Passed</label>
      <input type="checkbox" name="conclusion" value="passed">
    </span>

    <span class="option">
      <label>Fail</label>
      <input type="checkbox" name="conclusion" value="fail">
    </span>
  </td>
</tr>

<tr class="inspection">
       <td colspan="711">Inspection Check Points</td>
  </tr>

  <tr class="inspection">
    <td colspan="1" class="label">1.Test Fixtures</td>
     <td colspan="70">Used/Not Used</td>
    <td colspan="210" class="whitecell">YES</td>
    <td colspan="180" class="label"> 5.Valve Position during Shell Test(Hydra)</td>
    <td colspan="80" class="whitecell"></td>
    <td colspan="90" class="label">5.Valve Position during <br> Shell Test(Gas)</td>
    <td colspan="80" class="whitecell"></td>
  </tr>
  <tr class="inspection">
    <td colspan="1" class="label">2. Shall Testing performed <br> prior to Painting</td>
    <td colspan="70">Yes/No</td>
    <td colspan="210" class="whitecell">YES</td>
    <td colspan="180" class="label">6.Valve Position during <br> Seat Test(Hydra)</td>
    <td colspan="80" class="whitecell"></td>
    <td colspan="90" class="label">6.Valve Position during <br> Shell Test(Gas)</td>
    <td colspan="80" class="whitecell"></td>
  </tr>
  <tr class="inspection">
    <td colspan="1" class="label">3.Test Fittings are Installed</td>
    <td colspan="70">Yes/No</td>
    <td colspan="210" class="whitecell">YES</td>
    <td colspan="180" class="label"> 7.Verify the Flange Ring Grooves(Free from <br> dent,damage,scratches)</td>
    <td colspan="250" class="whitecell"></td>
  
  </tr>
  <tr class="inspection">
    <td colspan="1" class="label">4.Shall Testing performed prior to <br> addition of  Body Filler Grease</td>
    <td colspan="70">Yes/No</td>
    <td colspan="640" class="whitecell">YES</td>
  </tr>

  <tr class="fullrow">
      <td colspan="711">Note : Break Open Torque shall be measured during testing and to record in AP-P09-OPS-AT-L04-10-RUNNING TORQUE & BREAK OPEN TORQUE ENTRY SHEET</td>
  </tr>
  <tr class="verify-sec">      
    <td colspan="70" class="label">Tested by</td>
    <td colspan="210" class="label">Verified by</td>
    <td colspan="431" class="label">Approved By QA</td>
  </tr>
  <tr class="verify-sec">
  <td colspan="1" class="label">Name</td>
  <td colspan="69" >{{ tested_by|default:"" }}</td>
  <td colspan="60" class="label">Name</td>
  <td colspan="150">{{ verified_by|default:"" }}</td>
  <td colspan="80" class="label">Name</td>
  <td colspan="351">{{ approved_by|default:"" }}</td>
</tr>
  <tr class="verify-sec">
  <td colspan="1" class="label">Position</td>
  <td colspan="69">{{ position1|default:"" }}</td>
  <td colspan="60" class="label">Position</td>
  <td colspan="150">{{ position2|default:"" }}</td>
  <td colspan="80" class="label">Position</td>
  <td colspan="351">{{ position3|default:"" }}</td>
</tr>
  <tr class="verify-sec" >
  <td colspan="1" class="label">Signature</td>
  <td colspan="69"></td>
  <td colspan="60" class="label">Signature</td>
  <td colspan="150"></td>
  <td colspan="80" class="label">Signature</td>
  <td colspan="351"></td>
</tr>
  <tr class="verify-sec">
  <td colspan="1" class="label">Date</td>
  <td colspan="69">{{ current_date|default:"" }}</td>
  <td colspan="60" class="label">Date</td>
  <td colspan="150">{{ current_date|default:"" }}</td>
  <td colspan="80" class="label">Date</td>
  <td colspan="351">{{ current_date|default:"" }}</td>
</tr>
</tr>
  <tr class="footer">
  <td colspan="1">ISO 9001:2015,<br>
                    5th <br> Edition
  </td>
  <td colspan="69">API Spec Q1,<br>
                  10th <br> Edition
  </td>
  <td colspan="60">ISO 14001:2015,<br>
                  3rd <br> Edition
  </td>
  <td colspan="150">ISO 45001:2018,<br>
                  1st <br> Edition
  </td>
  <td colspan="80">API Spec 6A,<br>21st Edition</td>
  <td colspan="351">ABIPET Internal Requirements</td>
</tr>
</tr>
  <tr class="footer">
  <td colspan="1">8.5.1, 8.5.2</td>
  <td colspan="69">5.6.3, 5.6.5, 5.6.9.3</td>
  <td colspan="60"></td>
  <td colspan="150"></td>
  <td colspan="80">11.1.4,11.2.2,11.2.3, <br> 11.2.3.1,11.2.3.2,11.2.4, <br>  11.2.4.3,11.4</td>
  <td colspan="351"></td>
</tr>


    
  </tbody>
</table>

    
</body>
</html>


